.characters {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.characters__item {
  flex: 0 1 calc(33.3% - 20px);
  max-width: calc(33.3% - 20px);
}

.header {
  margin: 0 0 50px
}

.header__inner {
  padding: 20px 0;
}

.header__menu {
  display: flex;
  gap: 20px;
}

.character__inner {
  display: flex;
  align-items: center;
}

.character__image {
  flex: 0 1 calc(50% - 40px);
  margin: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character__info {
  flex: 0 1 50%;
}

.search__form {
  margin: 30px 0 20px;
}

@media(max-width: 768px) {
  .characters__item {
    flex: 0 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}

@media(max-width: 480px) {
  .characters__item {
    flex: 0 1 100%;
    max-width: 100%;
    text-align: center;
  }

  .characters__item-img {
    margin: 0 auto;
    display: block;
  }

  .character__inner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .character__image {
    flex: 0 1 100%;
    margin: 30px auto 0;
  }
}